@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,500&display=swap%27");
*{
    text-align: center;
}
p {
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.button {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    background-color: rgb(28, 219, 210);
    border-radius: 5px;
    font-size: 1.3rem;
    transition: transform  .2s;
    max-width: fit-content;
    font-family: 'Rubik', sans-serif;
    align-content: center;
}
.button:hover   {
    transform: scale(1.2);
    cursor: pointer;
}
.buttons {
    text-align: center;
    display: flex;
    justify-content: center;
}
.foodpics {
    display: block;
    justify-content: center;
    align-items: center;
}
.spin {
    transition: transform 3.1s;
}
.spin:hover {
    transform: rotate(360deg) scale(1.02);
}

